@using Microsoft.AspNet.Identity
@model Blog.Services.Core.Dtos.Posts.PostsDto
@using Blog.Helpers

@{
    ViewBag.Title = "BlogASP.NET - Головна";
}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="input-group pl-0 col-5">
            <input class="form-control search" type="text" placeholder="Search" aria-label="Search" name="search" id="search">

            <button class="input-group-append" type="submit" id="search-btn">
                <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
            </button>
        </div>
        <ul class="list-inline left">
            <li>Сортувати</li>
            <li>за:</li>
            <li>
                <select id="sort-by">
                    <option value="CreatedAt">Датою</option>
                    <option value="Title">Назвою</option>
                    <option value="Author">Автором</option>
                    <option value="Likes">Лайками</option>
                    <option value="Dislikes">Дизлайками</option>
                </select>
            </li>
            <li>тип сортування:</li>
            <li>
                <select id="order-by">
                    <option value="asc">За зростанням</option>
                    <option value="desc">За спаданням</option>
                </select>
            </li>
            <li>
                <a id="sorting" class="btn btn-default">Сортувати</a>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="col-lg-8 col-md-8 mx-auto">
            @{
                var createPost = Url.Action("Create", "Posts");
            }
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@createPost" class="btn btn-light">Написати пост</a>
            }
            <span></span>
            @foreach (var item in Model.Posts)
            {
                <div class="post-preview">
                    @{
                        var pathUrl = Url.Action("Show", "Posts") + "/" + item.Id;
                    }
                    <a href="@pathUrl">
                        <h2 class="post-title">
                            @item.Title
                        </h2>
                        <br />
                        @if (User.Identity.GetUserId().Equals(item.AuthorId))
                        {
                            <p class="pull-right">
                                @{
                                    var edit = Url.Action("Edit", "Posts") + "/" + item.Id;
                                    // var delete = Url.Action("Delete", "Posts");
                                }
                                <a type="button"
                                   class="btn btn-sm text-white btn-primary"
                                   href="@edit">
                                    <i class="fa fa-edit"></i>
                                    Редагувати
                                </a>

                                <button type="button"
                                        class="btn btn-sm text-white btn-danger"
                                        id="@(item.Id)"
                                        onclick="setDeletePostValues(this.id)"
                                        data-toggle="modal"
                                        data-target="#delete-post">
                                    <i class="fa fa-trash"></i>
                                    Видалити
                                </button>
                            </p>
                        }
                        <img style="width: 100%; height: 300px;" src="@item.ImageUrl" alt="" />
                        <h3 class="post-subtitle">
                            @Html.Raw(@item.Description)
                        </h3>
                    </a>
                    <p class="post-meta">
                        <span><i class="fa fa-fw fa-eye"></i> @item.Seen</span>
                        <span><i class="fa fa-fw fa-thumbs-up"></i> @item.Likes</span>
                        <span><i class="fa fa-fw fa-thumbs-down"></i> @item.Dislikes</span>
                        <span><i class="fa fa-fw fa-comment"></i> @item.Comments.Count</span>
                    </p>
                    <p class="post-meta">
                        Теги: @item.Tags
                    </p>
                    <p class="post-meta">
                        Написав:
                        <b>
                            @{ var authorPage = Url.Action("Details", "Profile") + "/" + item.Author.Profile.Id; }
                            <a href="@authorPage">@item.Author.FirstName @item.Author.LastName</a>
                            <i>
                                @item.CreatedAt
                            </i>
                        </b>
                    </p>
                </div>
                <br />
                <hr>
            }
            @if (Model.PageInfo.TotalPages > 1)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
                    </ul>
                </nav>
            }
        </div>
        <div class="col-lg-4 col-md-4 mx-auto sidebar pt-5">
            @{
                Html.RenderPartial("_RightSidebar", Model.PopularItems);
            }
        </div>
    </div>
</div>
<div id="delete-post" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Видалити цей пост?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input type='hidden' id="delete-id" />
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" type="button" id="confirm" onclick="deletePost('/Posts/Delete/')">
                    <i class="fa fa-trash"></i>
                    Видалити
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/public/plugins/jquery/jquery.js")
@Scripts.Render("~/public/js/scripts.js")
@Scripts.Render("~/public/js/pages/posts/index.js")