@using Blog.Helpers
@using Microsoft.AspNet.Identity
@model Blog.Services.Dtos.Posts.PostsDto

@{
    ViewBag.Title = "BlogASP.NET - Мої пости";
}
<style>
    .left li {
        float: left;
        vertical-align: middle;
        margin-right: 15px;
        margin-top: 10px;
    }

    .search {
        background-color: #e9ecef;
        border: 1px solid #ced4da;
    }

    .input-group-text {
        border: none;
    }
</style>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">

            <p><b>Мої пости</b></p>
            <div class="input-group pl-0 col-5">
                <input class="form-control search" type="text" placeholder="Search" aria-label="Search" name="search" id="search">

                <button class="input-group-append" type="submit" id="search-btn">
                    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>
            </div>
            @{
                var list = Url.Action("MyPosts", "Posts", new { display = "list" });
                var grid = Url.Action("MyPosts", "Posts", new { display = "grid" });
            }
            <ul class="list-inline">
                <li><a href="@list" style="float: left; padding-right: 15px;"><span class="fa fa-list"></span></a></li>
                <li><a href="@grid"><span class="fa fa-th"></span></a></li>
            </ul>
            <div class="clearfix"></div>
            <ul class="list-inline left">
                <li>Сортувати</li>
                <li>за:</li>
                <li>
                    <select id="sort-by">
                        <option value="CreatedAt">Датою</option>
                        <option value="Title">Назвою</option>
                        <option value="Author">Автором</option>
                        <option value="Likes">Лайками</option>
                        <option value="Dislikes">Дизлайками</option>
                    </select>
                </li>
                <li>тип сортування:</li>
                <li>
                    <select id="order-by">
                        <option value="asc">За зростанням</option>
                        <option value="desc">За спаданням</option>
                    </select>
                </li>
                <li>
                    <a id="sorting" class="btn btn-default">Сортувати</a>
                </li>
            </ul>
            <div class="clearfix"></div>
            @{
                var createPost = Url.Action("Create", "Posts");
                var posts = Model.Posts.ToList();
            }
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@createPost" class="btn btn-light">Написати пост</a>
            }
            <span></span>
            @if (Model.DisplayType.Equals("list"))
            {
                foreach (var item in posts)
                {
                    <div class="post-preview">
                        @{
                            var pathUrl = Url.Action("Show", "Posts") + "/" + item.Post.Id;
                        }
                        <a href="@pathUrl">
                            <h2 class="post-title">
                                @item.Post.Title
                            </h2>
                            <br />
                            @if (User.Identity.GetUserName().Equals(item.Post.Author))
                            {
                                <p class="pull-right">
                                    @{
                                        var edit = Url.Action("Edit", "Posts") + "/" + item.Post.Id;
                                        // Url.Action("Delete", "Posts");
                                    }
                                    <a type="button"
                                       class="btn btn-sm text-white btn-primary"
                                       href="@edit">
                                        <i class="fa fa-edit"></i>
                                        Редагувати
                                    </a>

                                    <button type="button"
                                            class="btn btn-sm text-white btn-danger"
                                            id="@(item.Post.Id)"
                                            onclick="setDeletePostValues(this.id)"
                                            data-toggle="modal"
                                            data-target="#delete-post">
                                        <i class="fa fa-trash"></i>
                                        Видалити
                                    </button>
                                </p>
                            }
                            <img style="width: 100%; height: 300px;" src="@item.Post.ImgUrl" />
                            <h3 class="post-subtitle">
                                @item.Post.Description
                            </h3>
                        </a>
                        <p class="post-meta">
                            <span><i class="fa fa-fw fa-eye"></i> @item.Post.Seen</span>
                            <span><i class="fa fa-fw fa-thumbs-up"></i> @item.Post.Likes</span>
                            <span><i class="fa fa-fw fa-thumbs-down"></i> @item.Post.Dislikes</span>
                            <span><i class="fa fa-fw fa-comment"></i> @item.CommentsCount</span>
                        </p>
                        <p class="post-meta">
                            Теги: @item.Post.Tags
                        </p>
                        <p class="post-meta">
                            Написав:
                            <b>
                                @{ var authorPage = Url.Action("Details", "Profile") + "/" + item.Profile.Id; }
                                <a href="@authorPage">@item.Post.Author</a>
                                <i>
                                    @item.Post.CreatedAt
                                </i>
                            </b>
                        </p>
                    </div>
                    <br />
                    <hr>
                }
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
                    </ul>
                </nav>
            }
            @if (Model.DisplayType.Equals("grid"))
            {
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 35%"><b>Назва:</b></th>
                            <th style="width: 10%"><b>Кількість переглядів:</b></th>
                            <th style="width: 10%"><b>Кількість лайків:</b></th>
                            <th style="width: 10%"><b>Кількість дизлайків:</b></th>
                            <th style="width: 15%"><b>Дата створення:</b></th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in posts)
                        {
                            <tr>
                                <td>
                                    @{
                                        var pathUrl = Url.Action("Show", "Posts") + "/" + post.Post.Id;
                                    }
                                    <a href="@pathUrl">@post.Post.Title</a>
                                </td>
                                <td>@post.Post.Seen</td>
                                <td>@post.Post.Likes</td>
                                <td>@post.Post.Dislikes</td>
                                <td>@post.Post.CreatedAt</td>
                                @if (User.Identity.GetUserId().Equals(post.Post.Author))
                                {
                                    <td class="" data-th="">
                                        @{
                                            var edit = Url.Action("Edit", "Posts") + "/" + post.Post.Id;
                                        }
                                        <a class="btn btn-primary" href="@edit"><i class="fa fa-edit"></i></a>
                                        <button type="button"
                                                class="btn btn-sm text-white btn-danger"
                                                id="@(post.Post.Id)"
                                                onclick="setDeletePostValues(this.id)"
                                                data-toggle="modal"
                                                data-target="#delete-post">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<div id="delete-post" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Видалити цей пост?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input type='hidden' id="delete-id" />
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" type="button" id="confirm" onclick="deletePost('/Posts/Delete/')">
                    <i class="fa fa-trash"></i>
                    Видалити
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/public/plugins/jquery/jquery.js")
<script>
    function setDeletePostValues(id) {
        $("#delete-id").val(id);
    }

    function deletePost(url) {
        var id = $("#delete-id").val();
        ajaxQuery(id, url);
    }
    function ajaxQuery(id, url) {
        $.post(
            url + id,
            onAjaxSuccess
        );
    }
    function onAjaxSuccess() {
        location.reload();
    }

    function cheked(select) {
        // берём значение из select и что-то с ним делаем
        return select.val();
    };

    /* сортування */
    $("#sorting").click(function () {
        var valueSort = cheked($("#sort-by"));
        var typeSort = cheked($("#order-by"));
        document.cookie = "sort=" + valueSort;
        document.cookie = "type_sort=" + typeSort;
        location.href = '@Url.Action("MyPosts", "Posts")?sortBy=' + valueSort + '&orderBy=' + typeSort;
    });

    $("#search-btn").click(function () {
        var search = $("#search").val();
        location.href = '@Url.Action("Index", "Posts")?search=' + search;
    });
</script>