@model Blog.ViewModels.Posts.PostViewModel
@{
    ViewBag.Title = Model.post.Title;
    var tagIndex = 1;
}

@Styles.Render("~/public/css/post.css")
@Styles.Render("~/public/css/post_responsive.css")
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title text-center">
                    @Model.post.Title
                </h2>
                <img style="width: 100%; height: 300px;" src="@Model.post.Imgurl" />
                <h3 class="post-subtitle text-center">
                    @Model.post.Description
                </h3>
                </a>
                <p class="post-meta">
                    <span><i class="fa fa-fw fa-eye"></i> @Model.post.Seen</span>
                    <span><i class="fa fa-fw fa-thumbs-up"></i> @Model.post.Likes</span>
                    <span><i class="fa fa-fw fa-thumbs-down"></i> @Model.post.Dislikes</span>
                </p>
                <p class="post-meta">
                    Теги: @Model.post.Tags
                </p>
                <p class="text-justify">@Model.post.Content</p>
                <p class="post-meta">
                    Написав: <b>
                        <a href="">@Model.post.Author</a><i>
                            20.11.2018
                        </i>
                    </b>
                </p>
                @{
                    var pathURL = Url.Action("Like", "Posts") + "/" + Model.post.Id;
                }
                <a class="btn btn-xs btn-info" href="@pathURL"><span class="fa fa-thumbs-up"></span> Подобається</a>
                <button class="btn btn-sm btn-danger"><span class="fa fa-thumbs-down"></span> Неподобається</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Similar Posts -->
    <div class="similar_posts">


        <!-- Post Comment -->
        <div class="post_comment">
            <div class="post_comment_title">Post Comment</div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="post_comment_form_container">
                        @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.comment.PostID, new { @class = "form-control comment_input comment_input_name", @id = "post-id", Value = Model.post.Id, @type = "hidden" })
                            @Html.TextBoxFor(model => model.comment.Author, new { @class = "form-control comment_input comment_input_name", @id = "author", @placeholder = "Електронна пошта" })
                            @Html.TextAreaFor(model => model.comment.CommentBody, new { @class = "comment_text", @id = "comment", @placeholder = "Коментар" })
                            <button class="btn btn-sm btn-success" type="submit">Додати коментар</button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments -->
        <div class="comments">
            <div class="comments_title">Comments <span>@Model.comments.Count</span></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="comments_container">
                        <ul class="comment_list">
                            @foreach (var comment in Model.comments)
                            {
                                <li class="comment">
                                    <div class="comment_body">
                                        <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
                                            <span><I class="fa fa-3x fa-user-circle"></I></span>
                                            <small class="post_meta">
                                                <a href="#" id="author@(comment.Id)">@comment.Author</a>
                                                <span>@comment.CreatedAt</span>
                                            </small>
                                        </div>
                                        <div class="comment_content">
                                            <p id="content@(comment.Id)">@comment.CommentBody</p>
                                            <p class="pull-right">
                                                <button 
                                                    type="button"
                                                    class="btn btn-sm text-white btn-primary"
                                                    id="@(comment.Id)"
                                                    onclick="setEditCommentValues(this.id)"
                                                    data-toggle="modal"
                                                    data-target="#edit-comment">
                                                        <i class="fa fa-edit"></i>
                                                        Редагувати
                                                </button>

                                                <button 
                                                    type="button"
                                                    class="btn btn-sm text-white btn-danger"
                                                    id="@(comment.Id)"
                                                    onclick="setDeleteCommentValues(this.id)"
                                                    data-toggle="modal"
                                                    data-target="#delete-comment">
                                                        <i class="fa fa-trash"></i>
                                                        Видалити
                                                </button>

                                                <button type="button"
                                                        class="btn btn-sm btn-outline-success ml-2">
                                                    <i class="fa fa-reply"></i>
                                                    Відповісти
                                                </button>
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Reply - ->
                                    <ul class="comment_list">
                                      <li class="comment">
                                        <div class="comment_body">
                                          <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
                                            <div class="comment_author_image">
                                              <div>
                                                <img src="images/comment_author_2.jpg" alt="">
                                              </div>
                                            </div>
                                            <small class="post_meta">
                                              <a href="#">Katy Liu</a>
                                              <span>Sep 29, 2017 at 9:48 am</span>
                                            </small>
                                            <button type="button" class="reply_button ml-auto">Reply</button>
                                          </div>
                                          <div class="comment_content">
                                            <p>Nulla facilisi. Aenean porttitor quis tortor id tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie varius tincidunt. Vestibulum congue sed libero ac sodales.</p>
                                          </div>
                                        </div>
                                        <!- - Reply - ->
                                        <ul class="comment_list">
                                        </ul>
                                      </li>
                                    </ul>
                                    -->
                                </li>
                                <hr>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/public/plugins/jquery/jquery.js")
<script>
    function setEditCommentValues(id) {
        var author = $("#author" + id).text();
        var comment = $("#content" + id).text();
        $("#edit-id").val(id);
        $("#edit-author").val(author);
        $("#edit-content").val(comment);
    }
    function setDeleteCommentValues(id) {
        var author = $("#author" + id).text();
        $("#delete-id").val(id);
        $("#delete-author").val(author);
    }
</script>
<div id="edit-comment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            @using (Html.BeginForm("Edit", "Comments", FormMethod.Post, new { role = "form" }))
            {
                <div class="modal-body post_comment_form_container">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.comment.Id, new { @id = "edit-id", @type = "hidden" })
                    @Html.TextBoxFor(model => model.comment.PostID, new { @id = "edit-post-id", Value = Model.post.Id, @type = "hidden" })
                    @Html.TextBoxFor(model => model.comment.Author, new { @class = "form-control comment_input comment_input_name", @id = "edit-author", @placeholder = "Електронна пошта" })
                    @Html.TextAreaFor(model => model.comment.CommentBody, new { @class = "comment_text", @id = "edit-content", @placeholder = "Коментар" })
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-success" type="submit">Зберегти</button><button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
                </div>
            }
        </div>

    </div>
</div>

<div id="delete-comment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            @using (Html.BeginForm("Delete", "Comments", FormMethod.Post, new { role = "form" }))
            {
                <div class="modal-body post_comment_form_container">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.comment.Id, new { @id = "delete-id", @type = "hidden" })
                    @Html.TextBoxFor(model => model.comment.PostID, new { @id = "delete-post-id", Value = Model.post.Id, @type = "hidden" })
                    @Html.TextBoxFor(model => model.comment.Author, new { @class = "form-control comment_input comment_input_name", @id = "delete-author", @placeholder = "Електронна пошта", @type = "hidden" })
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-success" type="submit">Видалити</button><button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
                </div>
            }
        </div>

    </div>
</div>