@using Blog.Helpers
@using Microsoft.AspNet.Identity
@model Blog.Services.Core.Dtos.Posts.PostShowDto
@{
    ViewBag.Title = Model.Post.Title;
}

@Styles.Render("~/public/css/post.css")
@Styles.Render("~/public/css/post_responsive.css")
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title text-center">
                    @Model.Post.Title
                </h2>
                <br/>
                @if (User.Identity.GetUserId().Equals(Model.Post.AuthorId))
                {
                    <p class="pull-right">
                        @{
                            var edit = Url.Action("Edit", "Posts") + "/" + Model.Post.Id;
                            // var delete = Url.Action("Delete", "Posts");
                        }
                        <a type="button"
                           class="btn btn-sm text-white btn-primary"
                           href="@edit">
                            <i class="fa fa-edit"></i>
                            Редагувати
                        </a>

                        <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="@(Model.Post.Id)"
                            onclick="setDeletePostValues(this.id)"
                            data-toggle="modal"
                            data-target="#delete-post">
                            <i class="fa fa-trash"></i>
                            Видалити
                        </button>
                    </p>
                }
                <img style="width: 100%; height: 300px;" src="@Model.Post.ImageUrl" alt=""/>
                <h3 class="post-subtitle text-center">
                    @Html.Raw(@Model.Post.Description)
                </h3>
                <p class="post-meta">
                    <span><i class="fa fa-fw fa-eye"></i> @Model.Post.Seen</span>
                    <span><i class="fa fa-fw fa-thumbs-up"></i> @Model.Post.Likes</span>
                    <span><i class="fa fa-fw fa-thumbs-down"></i> @Model.Post.Dislikes</span>
                </p>
                <p class="post-meta">
                    Теги: @Model.Post.Tags
                </p>
                <p class="text-justify">@Html.Raw(@Model.Post.Content)</p>
                @{ var authorPage = Url.Action("Details", "Profile") + "/" + Model.Post.Author.Profile.Id; }
                <p class="post-meta">
                    Написав: <b>
                        <a href="@authorPage">@Model.Post.Author.FirstName @Model.Post.Author.LastName</a><i>
                            20.11.2018
                        </i>
                    </b>
                </p>
                @{
                    var like = Url.Action("Like", "Posts") + "/" + Model.Post.Id;
                    var dislike = Url.Action("Dislike", "Posts") + "/" + Model.Post.Id;
                }
                <a class="btn btn-xs btn-info" href="@like"><span class="fa fa-thumbs-up"></span> Подобається</a>
                <a class="btn btn-sm btn-danger" href="@dislike"><span class="fa fa-thumbs-down"></span> Неподобається</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Similar Posts -->
    <div class="similar_posts">

        @if (User.Identity.IsAuthenticated){
            <!-- Post Comment -->
            <div class="post_comment">
                <div class="post_comment_title">Post Comment</div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="post_comment_form_container">
                            @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <!-- TODO Remove from here -->
                                @Html.HiddenFor(model =>model.Comment.AuthorId, new { Value = User.Identity.GetUserId() })
                                @Html.TextBoxFor(model => model.Comment.PostId, new { @class = "form-control comment_input", @id = "post-id", Value = Model.Post.Id, @type = "hidden" })
                                @Html.TextAreaFor(model => model.Comment.CommentBody, new { @class = "comment_text", @id = "comment", @placeholder = "Коментар" })
                                <button class="btn btn-sm btn-success" type="submit">Додати коментар</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- Comments -->
        <div class="comments">
            <div class="comments_title">Comments <span>@Model.Comments.PageInfo.TotalItems</span></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="comments_container">
                        <ul class="comment_list">
                            @foreach (var comment in Model.Comments.Comments)
                            {
                                <li class="comment">
                                    <div class="comment_body">
                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                            <span><I class="fa fa-3x fa-user-circle"></I></span>
                                            <small class="post_meta">
                                                @{var commentatorPage = Url.Action("Details", "Profile") + "/" + comment.Author.Profile.Id;}
                                                <a href="@commentatorPage" id="author@(comment.Id)">@comment.Author.FirstName @comment.Author.LastName</a>
                                                <span>@comment.CreatedAt</span>
                                            </small>
                                        </div>
                                        <div class="comment_content">
                                            <p id="content@(comment.Id)">@comment.CommentBody</p>
                                            <p class="pull-right">
                                                @if (User.Identity.GetUserId().Equals(comment.AuthorId) )
                                                {
                                                    <button
                                                        type="button"
                                                        class="btn btn-sm text-white btn-primary"
                                                        id="@(comment.Id)"
                                                        onclick="setEditCommentValues(this.id)"
                                                        data-toggle="modal"
                                                        data-target="#edit-comment">
                                                        <i class="fa fa-edit"></i>
                                                        Редагувати
                                                    </button>

                                                    <button
                                                        type="button"
                                                        class="btn btn-sm text-white btn-danger"
                                                        id="@(comment.Id)"
                                                        onclick="setDeleteCommentValues(this.id)"
                                                        data-toggle="modal"
                                                        data-target="#delete-comment">
                                                        <i class="fa fa-trash"></i>
                                                        Видалити
                                                    </button>
                                                }
                                                <button type="button"
                                                        class="btn btn-sm btn-outline-success ml-2">
                                                    <i class="fa fa-reply"></i>
                                                    Відповісти
                                                </button>
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Reply - ->
                                    <ul class="comment_list">
                                        <li class="comment">
                                            <div class="comment_body">
                                                <div class="comment_panel d-flex flex-row align-items-center justify-content-start">
                                                    <div class="comment_author_image">
                                                        <div>
                                                            <img src="images/comment_author_2.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <small class="post_meta">
                                                        <a href="#">Katy Liu</a>
                                                        <span>Sep 29, 2017 at 9:48 am</span>
                                                    </small>
                                                    <button type="button" class="reply_button ml-auto">Reply</button>
                                                </div>
                                                <div class="comment_content">
                                                    <p>Nulla facilisi. Aenean porttitor quis tortor id tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie varius tincidunt. Vestibulum congue sed libero ac sodales.</p>
                                                </div>
                                            </div>
                                            <!- - Reply - ->
                                            <ul class="comment_list">
                                            </ul>
                                        </li>
                                    </ul>
                                    -->
                                </li>
                                <hr>
                            }
                        </ul>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @Html.PageLinks(Model.Comments.PageInfo, x => Url.Action("Show", "Posts", new { id = Model.Post.Id, page = x }))
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/public/plugins/jquery/jquery.js")
<script>
    function setEditCommentValues(id) {
        var author = $("#author" + id).text();
        var comment = $("#content" + id).text();
        $("#edit-id").val(id);
        $("#edit-author").val(author);
        $("#edit-content").val(comment);
    }
    function setDeleteCommentValues(id) {
        $("#delete-comment-id").val(id);
    }

    function setDeletePostValues(id) {
        $("#delete-post-id").val(id);
    }

    function deletePost(url) {
        var id = $("#delete-post-id").val();
        ajaxQuery(id, url);
    }

    function deleteComment(url) {
        var id = $("#delete-comment-id").val();
        ajaxQuery(id, url);
    }
    function ajaxQuery(id, url){
        $.post(
            url + id,
            onAjaxSuccess
        );
    }
    function onAjaxSuccess()
    {
        location.reload();
    }
</script>
<div id="edit-comment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            @using (Html.BeginForm("Edit", "Comments", FormMethod.Post, new { role = "form" }))
            {
                <div class="modal-body post_comment_form_container">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Comment.Id, new { @id = "edit-id", @type = "hidden" })
                    @Html.TextBoxFor(model => model.Comment.PostId, new { @id = "edit-post-id", Value = Model.Post.Id, @type = "hidden" })
                    @Html.TextBoxFor(model => model.Comment.Author, new { @class = "form-control comment_input", @id = "edit-author", @placeholder = "Електронна пошта" })
                    @Html.TextAreaFor(model => model.Comment.CommentBody, new { @class = "comment_text", @id = "edit-content", @placeholder = "Коментар" })
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-success" type="submit">Зберегти</button><button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
                </div>
            }
        </div>

    </div>
</div>

<div id="delete-comment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Видалити цей коментар?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input type='hidden' id="delete-comment-id" />
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" type="button" onclick="deleteComment('/Comments/Delete/')">
                    <i class="fa fa-trash"></i>
                    Видалити
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>

    </div>
</div>

<div id="delete-post" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Видалити цей пост?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input type='hidden' id="delete-post-id" />
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" type="button" id="confirm" onclick="deletePost('/Posts/Delete/')">
                    <i class="fa fa-trash"></i>
                    Видалити
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>

    </div>
</div>