@using Blog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Авторизація";
}

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p class="profile-name-card"></p>
        <b class="text-center">Авторизація</b><br>
        <p class="profile-name-card"></p>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <span id="reauth-email" class="reauth-email"></span>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email", @placeholder = "Електронна пошта" })
                <span class="help-block">
                    <strong>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</strong>
                </span>
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password", @placeholder = "Пароль" })
                <span class="help-block">
                    <strong>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</strong>
                </span>
            </div>
            <div id = "remember" class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe) Запам'ятати мене
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ввійти</button>
        }

        <p class="profile-name-card"></p>
        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">Або</span>
        </div>
        <p class="profile-name-card"></p>
        <b class="text-center">Ввійдіть за допомогою соціальних мереж</b><br>
        <p id="profile-name" class="profile-name-card"></p>
        <a href="#" class="btn btn-lg btn-block" id="facebook">Facebook</a>
        <a href="#" class="btn btn-lg btn-block" id="google-plus">Google</a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
