@model Blog.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <b class="text-center">Реєстрація</b><br>
        <p class="profile-name-card"></p>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <span id="reauth-email" class="reauth-email"></span>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email", @placeholder = "Електронна пошта" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "email", @placeholder = "Ім'я" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "email", @placeholder = "Фамілія" })
            </div>

            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password", @placeholder = "Пароль" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Підтвердіть пароль" })
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Зареєструватись</button>
        }

        <p class="profile-name-card"></p>
        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">Або</span>
        </div>
        <p class="profile-name-card"></p>
        <b class="text-center">Ввійдіть за допомогою соціальних мереж</b><br>
        <p class="profile-name-card"></p>
        <a href="#" class="btn btn-lg btn-block" id="facebook">Facebook</a>
        <a href="#" class="btn btn-lg btn-block" id="google-plus">Google</a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
