@model Blog.Data.Models.Message
@{
    ViewBag.Title = "Редагувати повідомлення";
}

<div class="container">
    <div class="row" data-ref="container">
        <div class="col-lg-12">
            <h2 class="text-center" id="form-header">Редагувати повідомлення</h2>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.ApplicationUser)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label tag=""
                           class="">
                        Тема:
                    </label>

                    @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @id = "title", @placeholder = "Тема посту" })
                </div>

                <div class="form-group">
                    <label tag=""
                           class="">
                        Повідомлення:
                    </label>

                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @id = "author", @placeholder = "Опис" })
                </div>


                <input type="submit"
                       name="submit"
                       id="submit"
                       value="Змінити"
                       class="btn btn-default">

                <button type="button"
                        class="btn btn-sm text-white btn-secondary">
                    Скасувати
                </button>
            }
        </div>
    </div>
</div>
@Scripts.Render("~/public/plugins/jquery/jquery.js")