@model IEnumerable<Blog.Data.Models.Message>
@{
    ViewBag.Title = "Надіслані запити до адміністраторів";
}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <h3 class="text-center">Надіслані запити до адміністраторів</h3>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Написати нове повідомлення", "Create", "Message", null, new { @class = "btn btn-light" })
            }
            <ul class="mail-list">
                @foreach (var message in Model)
                {
                    var details = Url.Action("Details", "Message") + "/" + message.Id;
                    var edit = Url.Action("Edit", "Message") + "/" + message.Id;
                <li>
                    <a href="@details">
                        <span class="mail-subject">@message.Subject</span>
                        <span class="mail-message-preview">@message.Body</span>
                    </a>
                    <div class="col-3 pull-right">
                        <a type="button"
                           class="btn btn-sm text-white btn-primary"
                           href="@edit"
                           style="display: initial">
                            <i class="fa fa-edit"></i>
                        </a>

                        <button type="button"
                                class="btn btn-sm text-white btn-danger"
                                id="@message.Id"
                                onclick="setDeletePostValues(this.id)"
                                data-toggle="modal"
                                data-target="#delete-post">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
