@model IEnumerable<Blog.Data.Models.Message>
@{
    ViewBag.Title = "Надіслані запити до адміністраторів";
}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <h3 class="text-center">Надіслані запити до адміністраторів</h3>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Написати нове повідомлення", "Create", "Message", null, new { @class = "btn btn-light" })
            }
            <ul class="mail-list">
                @foreach (var message in Model)
                {
                    var details = Url.Action("Details", "Message") + "/" + message.Id;
                    var edit = Url.Action("Edit", "Message") + "/" + message.Id;
                <li>
                    <div class="row">
                        <a href="@details" class="col-9">
                            <span class="mail-subject">@message.Subject</span>
                            <span class="mail-message-preview">@message.Body</span>
                        </a>
                        <div class="col-3 pull-right">
                            <a type="button"
                               class="btn btn-sm text-white btn-primary"
                               href="@edit"
                               style="display: initial">
                                <i class="fa fa-edit"></i>
                            </a>

                            <button type="button"
                                    class="btn btn-sm text-white btn-danger"
                                    id="@message.Id"
                                    onclick="setDeleteMessageValues(this.id)"
                                    data-toggle="modal"
                                    data-target="#delete-message">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
<div id="delete-message" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Видалити це повідомлення?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input type='hidden' id="delete-id" />
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" type="button" id="confirm" onclick="deleteMessage('/Message/Delete/')">
                    <i class="fa fa-trash"></i>
                    Видалити
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>

    </div>
</div>
@Scripts.Render("~/public/plugins/jquery/jquery.js")
<script>
    function setDeleteMessageValues(id) {
        $("#delete-id").val(id);
    }

    function deleteMessage(url) {
        var id = $("#delete-id").val();
        ajaxQuery(id, url);
    }
    function ajaxQuery(id, url) {
        $.post(
            url + id,
            onAjaxSuccess
        );
    }
    function onAjaxSuccess() {
        location.reload();
    }
</script>