@using Blog.Core.Enums
@using Blog.ViewModels.Posts
@using Microsoft.AspNet.Identity
@model Blog.Areas.Admin.ViewModels.Posts.PostsViewModel
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
            @{
                var createPost = Url.Action("Create", "Posts");
                var posts = new List<Blog.Areas.Admin.ViewModels.Posts.PostViewModel>();
                posts = Model.Posts.ToList();
            }
            <a href="@createPost" class="btn btn-light">Написати пост</a>
            <span></span>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                    <tr>
                        <th width="20%"><b>Назва:</b></th>
                        <th width="5%"><b>Теги:</b></th>
                        <th><b>Автор:</b></th>
                        <th><b>Статус:</b></th>
                        <th><b>К-сть переглядів:</b></th>
                        <th><b>К-сть лайків:</b></th>
                        <th><b>Статус:</b></th>
                        <th><b>К-сть дизлайків:</b></th>
                        <th><b>К-сть коментарів:</b></th>
                        <th><b>Дата створення:</b></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th><b>Назва:</b></th>
                        <th><b>Теги:</b></th>
                        <th><b>Автор:</b></th>
                        <th><b>Статус:</b></th>
                        <th><b>К-сть переглядів:</b></th>
                        <th><b>К-сть лайків:</b></th>
                        <th><b>К-сть дизлайків:</b></th>
                        <th><b>К-сть коментарів:</b></th>
                        <th><b>Дата створення:</b></th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var item in posts)
                    {
                        <tr>
                            <td>
                                @{
                                    var pathUrl = Url.Action("Show", "Posts", new { area = "" }) + "/" + item.Post.Id;
                                }
                                <a href="@pathUrl" title="@item.Post.Title">@item.Post.Title</a>
                            </td>
                            <td>@item.Post.Tags</td>
                            <td>
                                @{ var authorPage = item.Profile != null ? Url.Action("Details", "Profile", new { area = "" }) + "/" + item.Profile.Id : ""; }
                                <a href="@authorPage" title="@item.Post.Author">@item.Post.Author</a>
                            </td>
                            <td>
                                @item.Post.Status
                            </td>
                            <td>@item.Post.Seen</td>
                            <td>@item.Post.Likes</td>
                            <td>@item.Post.Dislikes</td>
                            <td>@item.CommentsCount</td>
                            <td>@item.Post.CreatedAt</td>
                            <td class="actions" data-th="">
                                @{
                                    var edit = Url.Action("Edit", "Posts") + "/" + item.Post.Id;
                                    var delete = Url.Action("Delete", "Posts");
                                }
                                <a type="button"
                                   class="btn btn-sm text-white btn-primary"
                                   href="@edit">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <button type="button"
                                        class="btn btn-sm text-white btn-danger"
                                        id="@item.Post.Id"
                                        onclick="setDeletePostValues(this.id)"
                                        data-toggle="modal"
                                        data-target="#delete-post">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="delete-post" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Видалити цей пост?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <input type='hidden' id="delete-id" />
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" type="button" id="confirm" onclick="deletePost('Posts/Delete/')">
                    <i class="fa fa-trash"></i>
                    Видалити
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>

    </div>
</div>

<script>
    function setDeletePostValues(id) {
        $("#delete-id").val(id);
    }

    function deletePost(url) {
        var id = $("#delete-id").val();
        ajaxQuery(id, url);
    }
    function ajaxQuery(id, url) {
        $.post(
            url + id,
            onAjaxSuccess
        );
    }
    function onAjaxSuccess(data) {
        location.reload();
    }
</script>

@Scripts.Render("~/public/plugins/jquery/jquery.js")